body {
  box-sizing: border-box;
  font-family: new york;
  font-family: sf-ui;
  padding: 0px;
  margin: 0;
  overflow-x: hidden;
}
* {
  box-sizing: border-box;
}
@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumMedium.otf);
  font-weight: 500;
}
@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumSemibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumBlack.otf);
  font-weight: 900;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-thin-58646e9b26e8b.otf);
  font-weight: 100;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-ultralight-58646b19bf205.otf);
  font-weight: 200;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-light-58646b33e0551.otf);
  font-weight: 300;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-medium-58646be638f96.otf);
  font-weight: 500;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-semibold-58646eddcae92.otf);
  font-weight: 600;
}

@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-bold-58646a511e3d9.otf);
  font-weight: 700;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-black-58646a6b80d5a.otf);
  font-weight: 900;
}
.button {
  width: 100px;
  padding: 15px;
  background-color: #f2aa4c;
  color: white;
  border: #f2aa4c;
  margin-left: 50px;
  border-radius: 5px;
  font-size: 15px;
}
.btn {
  color: white;
  background-color: #f2aa4c;
  padding: 15px;
  width: 40%;
  font-size: 15px;
  border: #f2aa4c;
  border-radius: 5px;
  margin-top: 60px;
}
.btns {
  width: 15%;
  margin-left: 100px;
  color: white;
  background-color: #f2aa4c;
  padding: 15px;
  font-size: 15px;
  border: #f2aa4c;
}
h2 {
  font-weight: bolder;
  font-size: 100px;
  width: 50%;
}
.h3style {
 width: 50%;
  margin: 80px;
   text-align: justify;
    padding: 0 80px;
}
h3 {
  font-size: 60px;
  font-weight: 700;
  width: 50%;
  text-align: center;
  margin: 100px auto;
}
h4 {
  font-size: 20px;
}

.h4-style {
  font-size: 60px;
  width: 50%;
  padding: 0 80px;
}
p {
  font-weight: 300;
  font-size: 20px;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 18px;
  padding: 20px;
}
.display {
  display: flex;
}
.nav {
  display: flex;
}
.border {
  display: flex;
  justify-content: space-between;
  font-weight: lighter;
  padding: 15px;
  align-items: center;
  padding-left: 80px;
}
.border-1 {
  display: flex;
  padding: 100px;
  justify-content: space-between;
}
.border-2 {
  width: 100%;
  overflow-y: hidden;
}
.border-3 {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.border-4 {
  display: flex;
  width: 65%;
  margin-left: 400px;
  justify-content: space-between;
}
.border-5 {
  display: flex;
  padding: 0 80px;
  align-items: center;
}
.border-6 {
  display: flex;
  justify-content: space-around;

  position: relative;
  padding: 10px;
  overflow: hidden;
}
.border-7 {
  display: flex;
  justify-content: space-evenly;
}
.border-8 {
  display: flex;
  justify-content: space-around;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #f9f9f9;
  font-weight: lighter;
  padding: 35px;
}
.background {
  background: linear-gradient(
    180deg,
    #f9f9f9 22.12%,
    rgba(249, 249, 249, 0) 100%
  );
  padding: 10px;
  margin: 100px auto;
}
.image-1 {
  width: 65%;
  height: fit-content;
}
.image-2 {
  white-space: nowrap;
  overflow-y: hidden;
  margin-left: 8%;
}
.image2 {
  padding: 10px;
}
.image-3 {
  width: 50%;
  height: fit-content;
  padding: 0 80px;
}
.images {
  margin: 30px;
  width: 20%;
  height: 20%;
}
.img {
  width: 40%;
}

.big-house {
  width: 40%;
}
.imagess {
  margin: 30px;
  width: 10%;
  height: 10%;
}
.quote {
  width: 15%;
  height: 15%;
  padding: 35px;
}
.text {
  width: 25%;
  line-height: 30px;
}
.texts {
  width: 35%;
}

.female {
  position: absolute;
  bottom: -10px;
  left: 37%;
}
.map {
  width: 100%;
}
@media (max-width: 752px) {
  .border {
    font-size: x-small;
    padding: 10px;
    margin-left: 30px;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .nav {
    display: flex;
  }

  ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 15px;
    padding: 20px;
  }
  .h2-style {
    font-size: 180px;
    padding-left: 0px;
  }
  .text {
    width: 100%;
    line-height: 1;
  }
  .border-1 {
    padding: 60px;
    display: flex;
    justify-content: space-between;
  }

  .image-1 {
    height: auto;
    width: 70%;
    margin: 20px;
    margin-left: 100px;
  }
  .btn {
    width: 100%;
  }
  .h3style {
  padding:0 20px;
  margin: 50px;
  width: 35%;
  text-align: start;
  font-size: 40px;
  }
  .image-3,.texts {
    width: 70%;
  }
}
