body {
  box-sizing: border-box;
  font-family: new york;
  font-family: sf-ui;
  margin-left: 100px;
}
* {
  box-sizing: border-box;
  font-family: sf-ui;
}

@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumRegular.otf);
  font-weight: 400;
}
@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumMedium.otf);
  font-weight: 500;
}
@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumSemibold.otf);
  font-weight: 600;
}
@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumBold.otf);
  font-weight: 700;
}

@font-face {
  font-family: New york;
  src: url(./Fonts/new-york-extra-large-cufonfonts/NewYorkMediumBlack.otf);
  font-weight: 900;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-thin-58646e9b26e8b.otf);
  font-weight: 100;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-ultralight-58646b19bf205.otf);
  font-weight: 200;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-light-58646b33e0551.otf);
  font-weight: 300;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-medium-58646be638f96.otf);
  font-weight: 500;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-semibold-58646eddcae92.otf);
  font-weight: 600;
}

@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-bold-58646a511e3d9.otf);
  font-weight: 700;
}
@font-face {
  font-family: sf-ui;
  src: url(./Fonts/SF-UI/sf-ui-display-black-58646a6b80d5a.otf);
  font-weight: 900;
}
.button {
  width: 100px;
  padding: 15px;
  background-color: #f2aa4c;
  color: white;
  border: #f2aa4c;
  margin-left: 50px;
  border-radius: 5px;
  font-size: 15px;
}

h2 {
  font-weight: bolder;
  font-size: 100px;
  width: 50%;
}
h3 {
  font-size:80px;
  font-weight: 500;
  width: 60%;
  text-align: center;
}
p {
 font-weight: 300;
 font-size: 20px;
 line-height: 30px;
 width: 30%;
}
ul li {
  display: inline-block;
}
ul li a {
  text-decoration: none;
  color: #000000;
  font-size :18px;
  padding: 30px;
}
.border {
  display: flex;
 justify-content: space-between;
 font-weight: lighter;
 padding: 15px;
 align-items: center;
 margin: 10px;
}
.border-1 {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  
}
.border-3 {
  width: 80%;
  padding: 2px;
}
.border-4 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.border-5 {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.image-2 {
  padding: 20px;
}
.image-3 {
  width: 40%;
 
}
.logo {
  height: 10%;
  width: 10%;
}
.text {
width: 40%;
}
